<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="project site">
    <meta name="keywords" content="html5,css3,svg">
    <link rel="shortcut icon" href="image/favicon.ico">
    <link rel="stylesheet" media="all" type="text/css" href="stylesheets/layout.css">
    <% if(js){ %>
    <script src="js/<%= js %>"></script><% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>


