<header id="header">
    <hgroup>
        <h1 class="logo">
            <a href="#"><img src="#" alt="헤더 로고"></a>
        </h1>
        <h2 class="theme">HTML5 프로젝트 Site</h2>
    </hgroup>
    <nav id="nav">
        <ul>
            <li><a href="#">메뉴1</a></li>
            <li><a href="#">메뉴2</a></li>
            <li><a href="#">메뉴3</a></li>
            <li><a href="#">메뉴4</a></li>
        </ul>
    </nav>
</header>